/*  
    Copyright 2023 HolyCorn Software
    The Tele-Epilepsy Project
    The Chat Faculty
    This stylesheet is responsible for the call ringer UI
    
*/

.hc-telep-chat-call-ringer-ui>.container>.main {
    --color1: var(--theme-purple-color);
    --color2: var(--theme-blue-color, rgb(78, 23, 207));
}

.hc-telep-chat-call-ringer-content>.container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--color2);
}

.hc-telep-chat-call-ringer-content.destroyed>.container {
    opacity: 0;
    transform: translateY(-90%);
    transition: 0.5s 0.125s;
}

.hc-telep-chat-call-ringer-content>.container>.main {
    display: flex;
    gap: 3em;
    align-items: center;
}

.hc-telep-chat-call-ringer-content>.container>.main>.button>* {
    width: 2em;
    height: 2em;
    object-fit: contain;
    object-position: center;
    background-color: white;
    border-radius: 100%;
    color: var(--color2);
    padding: 0.25em;
}

.hc-telep-chat-call-ringer-content>.container>.main>.call-details {
    display: flex;
    flex-direction: column;
    font-family: bariolBold;
}

.hc-telep-chat-call-ringer-content>.container>.main>.call-details>.call-type-label {
    font-size: 0.85em;
    font-family: k2d;
    display: flex;
    gap: 0.25em;
}