/* 
    Copyright 2023 HolyCorn Software
    The Tele-Epilepsy Project
    The Chat Faculty
    This stylesheet targets the chat-messaging/compose widget, which allows a user
    to compose messages
 */

.hc-telep-chat-messaging-compose>.container {
    display: flex;
    flex-direction: column;

}

.hc-telep-chat-messaging-compose>.container>.main {
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;
    color: var(--theme-color);
}


.hc-telep-chat-messaging-compose>.container>.main>.text-box {
    flex-grow: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
    padding-right: 1.75em;



    border-radius: 0.85em;
    font-family: comfortaa;
    font-weight: 400;
    max-width: calc(100% - 4.25em);

}

.hc-telep-chat-messaging-compose>.container>.main>.text-box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    padding: inherit;
    background-color: #e9eff1;
    opacity: 0.4;
    pointer-events: none;
    z-index: -1;
}

.hc-telep-chat-messaging-compose>.container>.main>.text-box>* {
    max-height: min(4.5em, 12vh);
    overflow-y: auto;
    min-height: 2em;
    overflow-wrap: anywhere;
    outline: none;
    width: 100%;
    padding-left: 2.5em;
    padding-right: 1.75em;
}

.hc-telep-chat-messaging-compose>.container>.main>.text-box>*::-webkit-scrollbar {
    transform: translateX(-2em);
}


.hc-telep-chat-messaging-compose>.container>.main>.text-box>*>.holycorn-node {
    color: var(--theme-color);
    display: inline-flex;
}

.hc-telep-chat-messaging-compose>.container>.main>.send-action {
    position: absolute;
    left: calc(100% - 3em);
    padding: 1.5em;
}

.hc-telep-chat-messaging-compose>.container>.main>:is(.additional-trigger, .send-action) {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    align-self: flex-start;
    padding-bottom: 1em;
    padding-top: 1em;
    top: -0.5em;
    width: 1em;
}



.hc-telep-chat-messaging-compose>.container>.main>.additional-trigger {
    position: absolute;
    left: 0.5em;
    z-index: 1;
    align-self: flex-start;
}

.hc-telep-chat-messaging-compose>.container>.additional-ui {
    background-color: #e2f3f9;
    padding: 1em;
    border-radius: 0.85em;
    transform: translateY(0.1em);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.hc-telep-chat-messaging-compose>.container>.additional-ui>.caption {
    text-align: center;
    font-weight: bolder;
    border-bottom: 0.125em solid currentColor;
}

.hc-telep-chat-messaging-compose>.container>.additional-ui>.items {
    display: flex;
    gap: 1em;
}


.hc-telep-chat-messaging-compose.hc-widget-ready>.container>.additional-ui {
    opacity: 0;
    font-size: 0em;
    transition: 0s 0s;
}


.hc-telep-chat-messaging-compose.hc-widget-ready>.container>.additional-ui {

    transition: 0.5s 0.125s, 0.5s 0.25s opacity;
}

.hc-telep-chat-messaging-compose.show-trigger-ui>.container>.additional-ui {
    font-size: 1em;
    opacity: 1;
}

.hc-telep-chat-messaging-compose.show-trigger-ui>.container>.main>.text-box {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}