/* 
    Copyright 2023 HolyCorn Software
    The Tele-Epilepsy Project
    The Chat Faculty
    This stylesheet is acting on the chat-messaging widget, which allows a user to send 
    messages withing a chat
 */

.hc-telep-chat-messaging {
    height: 100%;
}

.hc-telep-chat-messaging>.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
}

.hc-telep-chat-messaging>.container>.messages {
    flex-grow: 1;
    max-height: calc(var(--messaging-height) - var(--compose-height) - 2em);
    /* min-height: calc(var(--messaging-height) - var(--compose-height) - 2em); */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}



.hc-telep-chat-messaging>.container>.read-check-area {
    position: absolute;
    top: 1em;
    width: 100%;
    height: calc(100% - 2em);
}

.hc-telep-chat-messaging {
    transition: 0.75s opacity, 0.75s filter;
}


.hc-telep-chat-messaging:is(.pseudo-hide, .new-born),
.hc-slide-container:is(.is-sliding-to-secondary, .is-sliding-to-pre) .hc-telep-chat-messaging:not(.pseudo-hide),
.hc-ehealthi-device-frame-view-container:not(.visible) .hc-telep-chat-messaging {
    opacity: 0.03;
    filter: blur(0.75em);
    transition: 0.5s opacity, 0.5s filter;

}